{
  "env": {
    "browser": true, //global変数を許可
    "node": true, //global変数許可
    "es6": true // アロー関数など許可
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module" //import・export 許可
  },
  "rules": {
    "no-console": ["warn"], //console.log
    "eqeqeq": "error",
    "quotes": ["error", "double"], //double quotes
    "semi": ["error", "always"], //semi
    "no-unused-vars": ["error"], //no use var
    "camelcase": ["warn"] //camelcase
  }
}
