html {
  body[data-page="top"] {
    background: url(../img/pages/top/chi.png);
    background-repeat: no-repeat;
    h1 {
      width: pct(100, 300, false);
      margin-top: 30px;
      @include font(30, 60, 100);
      font-weight: bold;
    }
  }
}
