html {
  body[data-page="top"] {
    #my-scrollbar {
      width: 100vw;
      height: 100vh;
      overflow: auto;
      .inner {
        p {
          margin-bottom: 100px;
          font-size: 20px;
        }
      }
    }
  }
}
